:root {
    --primary-color: #FFEED9;
    --secondary-color: #594F43;
    --adjecent-color: #FFDDBF;
    --title-color: #403930;
    --button-primary-color: #4E5E80;
    --button-primary-hover: #4D5566;
    --button-text-color: #F3F2FF;
    --primary-font: "Work Sans";
    --secondary-font: "Eczar";
}
/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--primary-font), sans-serif;
    background-color: var(--primary-color);
}
.container {
    max-width: 1500px;
    margin: 0 auto;
}
/* header  */

.header {
    min-height: 60px;
    padding: 40px 0;
}
.header__nav-list {
    display: flex;
    list-style: none;
    gap: 32px;
}
.header__nav-list-item {
    font-size: 1.25em;
    font-weight: 500;
    color: var(--secondary-color);
}
/* e: header  */

/* main  */

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.main__banner--badge {
    background-color: var(--adjecent-color);
    border-radius: 12px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 1.5em;
    display: inline-grid;
    color: var(--title-color);

}
.main__banner--title {
    font-size: 4em;
    font-family: var(--secondary-font), serif;
    line-height: 125%;
    font-weight: 600;
    margin: 24px 0;
}

/* e:main  */

/* buttons  */

.btn {
    margin-right: 10px;
    padding: 24px 40px;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 12px;
    display: inline-flex;
    gap: 10px;
    background-color: var(--button-primary-color);
    color: var(--button-text-color);
    border: 4px solid var(--button-primary-color);
    width: 291px; /* future problem width */
    justify-content: center;
}
.btn-secondary {
    background-color: transparent;
    border: 4px solid var(--button-primary-hover);
    color: var(--button-primary-hover);
}

/* e: buttons  */

/* footer  */

.footer {
    padding: 64px 0;
    display: flex;
}
.footer__cta {
    width: 70%;
}
.footer__social {
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    width: 30%;
    justify-content: end;
    gap: 20px;
}

/* e: footer  */
