:root {
    --primary-color: #FFEED9;
    --secodary-color: #594F43;
    --adjecent-color: #FFDDBF;
    --title-color: #403930;
    --button-primary-color: #4E5E80;
    --button-primary-hover: #4D5566;
}